@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    height: 40vh;
}
header h1 {
    color: rgb(37, 128, 134);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
#generate-meal-btn {
    border: 1px solid rgba(37, 127, 134, 0.2);
    background: #fff;
    padding: 0.55rem 1.05rem;
    color: rgb(37, 128, 134);
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}
#generate-meal-btn:hover {
    background: rgb(189, 239, 243);
}
.meal-header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: rgb(37, 128, 134);
    color: #fff;
}
.meal-info {
    margin-bottom: 1rem;
    line-height: 1.4;
}
.meal-info h2 {
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
}
.meal-image {
    width: 100%;
    max-width: 660px;
    height: auto;
    margin: 0 auto;
}
.meal-image img {
    width: 100%;
}
.ingredients {
    padding: 1rem;
    color: rgb(37, 128, 134);
}
.ingredients h3,
.instructions h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.ingredients ul li {
    list-style: none;
    line-height: 1.4;
}
.instructions {
    padding: 1rem;
    background: #444;
    color: #fff;
}
.instructions p {
    line-height: 1.4;
}
.source {
    background: rgb(37, 128, 134);
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem;
}
.source a {
    color: #fff;
}
.source a:hover {
    color: #d1d1d1;
}
footer {
    padding: 1rem 0.5rem;
    background: #444;
    color: #fff;
    font-size: 0.8rem;
}
.video {
    position: relative;
	padding-bottom: 55%;
	padding-top: 22px;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:300px) {
    header {
        height: 50vh;
    }
    header h1 {
        font-size: 1.8rem;
    }
}
@media (max-height:500px)  {
    header {
        height: 52vh;
    }
}
@media (min-width:650px) {
    header h1 {
        font-size: 2.7rem;
        margin-bottom: 1.9rem;
    }
    #generate-meal-btn {
        font-size: 1rem;
    }
    .meal-info h2 {
        font-size: 1.65rem;
    }
    .ingredients h3,
    .instructions h3 {
        font-size: 1.65rem;
    }
}
@media (min-width:900px) {
    header h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .meal-header,
    .ingredients,
    .instructions {
        width: 85%;
        margin: 0 auto;
    }
    .meal-info h2 {
        font-size: 1.8rem;
    }
    .instructions p {
        line-height: 1.5;
    }
    .ingredients h3,
    .instructions h3 {
        font-size: 1.8rem;
    }
    .video {
        width: 85%;
        margin: 0 auto;
        padding-top: 8%;
        padding-bottom: 38%;

    }
    .source {
        width: 85%;
        margin: 0 auto;
    }
}